@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: "SinaNovaReg";
  src: url(SinaNovaReg.otf);
}

* {
  display: block;
  text-align: center;
  font-family: "SinaNovaReg";
  font-size: 1vw;
  overflow: hidden;
}


titlePage {
  margin: 30px 35% 20% 35%;
  border-style: solid;
  border-width: 2px;
}

docTitle {
  padding: 10% 1% 0px 1%;
  background-color: rgb(255, 255, 240);
}

docImprint {
  background-color: rgb(255, 255, 240);
  padding: 0px 1% 15% 1%;
  font-size: 150%;
}
docDate:after {content:attr(when);}

[rendition~="#center"] {text-align: center;}
[rendition~="#x-large"] {font-size: 125%;}
[rendition~="#xx-large"] {font-size: 150%;}
[rendition~="#large"] {font-size: 100%;}
[rendition~="#small"] {font-size: 60%;}
[rendition~="#red"] {color: red;}
[rendition~="#uppercase"] {text-transform: uppercase;}
[rendition~="#expanded"] {letter-spacing: 3px;}


space[quantity="5"] {padding: 50px;}
space[quantity="1"] {padding: 10px;}
space[quantity="3"] {padding: 30px;}
space[quantity="4"] {padding: 40px;}
